extends ../layout

block content

  .row
    .col-lg-8
      each page in pages
        // blog entry
        h1
          a(href='/blog/pages/#{page.filename}')
            =page.title
        //-p.lead
          //-| by 
          //-a(href='/blog') Start Bootstrap
        hr
        p
          span.glyphicon.glyphicon-time
          |  Posted on #{strftime('%B %o, %Y', new Date(page.date))}
          span.pull-right
            each tag in page.tags
              a(href='/blog/tags/#{tag}')
                span.badge.badge-default=tag
        hr
        a(href='/blog/pages/#{page.filename}')
          img.img-responsive(src='http://placehold.it/900x300')
        hr
        p
          =page.description
        a.btn.btn-primary.btn-sm(href='/blog/pages/#{page.filename}')
          | Read More 
          span.glyphicon.glyphicon-chevron-right
        hr

      // batching - not implemented
      //-ul.pager
        //-li.previous
          //-a(href='#') ← Older
        //-li.next
          //-a(href='#') Newer →

    .col-lg-4
      include menu
