extends ../layout

block content
  .row
    .col-md-8
      a(href="/blog")
        | back to Blog Index

      h1=page.title

      //-p.lead
        //-| by
        //-a(href='index.php') Start Bootstrap
      hr
      p
        span.glyphicon.glyphicon-time
        |  Posted on #{strftime('%B %o, %Y', new Date(page.date))}
        span.pull-right
          each tag in page.tags
            a(href='/blog/tags/#{tag}')
              span.badge.badge-default=tag
      hr
      img.img-responsive(src='http://lorempixel.com/g/900/300')
      hr
      !{body}
      hr
      // the comment box
      .well
        h4 Leave a Comment:
        form(role='form')
          .form-group
            textarea.form-control(rows='3')
          button.btn.btn-primary(type='submit') Submit
      // the comments
      h4
        | Comment about this thing 
        small 9:41 PM on August 24, 2013
      p
        | This has to be the worst blog post I have ever read. It simply makes no sense. You start off by talking about space or something, then you randomly start babbling about cupcakes, and you end off with random fish names.
      h4
        | I like custard 
        small 9:47 PM on August 24, 2013
      p
        | Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods, wild animals, alien abductions, business casual, robots, and fireworks' has true potential.

    .col-lg-4
      include menu
